@import url("https://fonts.googleapis.com/css2?family=Roboto");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row > * {
  margin: 2em;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group + .form-group {
    padding-top: 1em;
}

.form-group > * + * {
    margin-top: 0.5em;
}

.form-group > input {
    padding: 1em;
    margin: 1em;

    border-radius: 2em;
    border: #555;
    border-style: solid;
    border-width: 1px;

    flex: 1 1 auto;
}

.form-group > input:focus {
    outline: none;
}

.form-group > button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;
    background-color: #0000;
}

.form-group > button:hover {
    color: #fff;
    background-color: #000;
}

.form-group > textarea {
  flex: 1 1 auto;
  height: 6em;
  padding: 1em;
  
  border-radius: 2em;
  border: #555;
  border-style: solid;
  border-width: 1px;
}

.card {
    box-shadow: 0px 0px 1em -0.5em #00000070;
    border-radius: 1em;
    padding: 2em;
}

.card--question {
  flex: 0 1 40em;
}

.card--suggestions {
  flex: 0 1 18em;
}

.suggestion {
    padding: 0.5em;
    text-align: center;
    position: relative;
    border-radius: 1em;
    transition: transform 0.1s ease-in;
}

.suggestion::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0.2em 1em -0.6em #000000de;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.suggestion:hover:not(:active) {
    transform: translateY(-0.2em);
}

.suggestion:hover:not(:active)::after {
    opacity: 1;
}

.suggestion:active {
    transform: translateY(-0.1em) !important;
}

.suggestion:active::after {
    opacity: 0.8 !important;
}
